{% extends 'base.html.twig' %}
{% block title %} adhérents{% endblock %}
{% block body %}
    <div class="">
        <h1 class="text-3xl my-2">Les Adhérents</h1>
        <table class="w-full text-center bg-white hidden md:table">
            <thead class="bg-black text-white">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Sexe</th>
                <th>Filère</th>
                <th>Poste</th>
                <th>Total cotisé</th>
            </tr>
            </thead>
            <tbody>
            <tr class="bg-gray-100">
                <td>Yasser</td>
                <td>Arafad Boubakari</td>
                <td>masculin</td>
                <td>GL</td>
                <td>Président</td>
                <td>5000</td>
            </tr>
            <tr>
                <td>Schuame</td>
                <td>Alexandre Lionel</td>
                <td>masculin</td>
                <td>GRT</td>
                <td>Président</td>
                <td>5000</td>
            </tr>
            <tr class="bg-gray-100">
                <td>Schuame</td>
                <td>Alexandre Lionel</td>
                <td>masculin</td>
                <td>GL</td>
                <td>Président</td>
                <td>5000</td>
            </tr>
            <tr>
                <td>Tomedi</td>
                <td>Suzane</td>
                <td>feminin</td>
                <td>GL</td>
                <td>Président</td>
                <td>5000</td>
            </tr>
            <tr class="bg-gray-100">
                <td>Schuame</td>
                <td>Alexandre Lionel</td>
                <td>masculin</td>
                <td>GRT</td>
                <td>Président</td>
                <td>5000</td>
            </tr>
            </tbody>
        </table>
        <table class="w-full bg-white md:hidden">
            <tbody>
            <tr class="bg-gray-100">
            <tr>
                <th>Nom</th>
                <td>Schuame</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>Alexandre Lionel</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td> masculin</td>
            </tr>
            <tr>
                <th>Filière</th>
                <td> GL</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td> Président</td>
            </tr>
            <tr>
                <th>Total cotisé</th>
                <td>5000 </td>
            </tr>

            </tr>
            <tr>
            <tr class="bg-gray-100">
                <th>Nom</th>
                <td>Schuame</td>
            </tr>
            <tr class="bg-gray-100">
                <th>Prenom</th>
                <td>Alexandre Lionel</td>
            </tr>
            <tr class="bg-gray-100">
                <th>Sexe</th>
                <td> masculin</td>
            </tr>
            <tr class="bg-gray-100">
                <th>Filière</th>
                <td> GL</td>
            </tr>
            <tr class="bg-gray-100">
                <th>Poste</th>
                <td> Président</td>
            </tr>
            <tr class="bg-gray-100">
                <th>Total cotisé</th>
                <td>5000 </td>
            </tr>

            </tr>

            <tr>
            <tr>
                <th>Nom</th>
                <td>Schuame</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>Alexandre Lionel</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td> masculin</td>
            </tr>
            <tr>
                <th>Filière</th>
                <td> GL</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td> Président</td>
            </tr>
            <tr>
                <th>Total cotisé</th>
                <td>5000 </td>
            </tr>
            </tr>
            <tr>
            <tr class="bg-gray-100">
                <th>Nom</th>
                <td>Schuame</td>
            </tr>
            <tr class="bg-gray-100">
                <th>Prenom</th>
                <td>Alexandre Lionel</td>
            </tr>
            <tr class="bg-gray-100">
                <th>Sexe</th>
                <td> masculin</td>
            </tr>
            <tr class="bg-gray-100">
                <th>Filière</th>
                <td> GL</td>
            </tr>
            <tr class="bg-gray-100">
                <th>Poste</th>
                <td> Président</td>
            </tr>
            <tr class="bg-gray-100">
                <th>Total cotisé</th>
                <td>5000 </td>
            </tr>

            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}



