{% extends 'base.html.twig' %}
{% block title %} dépenses{% endblock %}

{% block body %}
    <section>
        <div class="">
            <div class="">
                <form action="">
                    <h2 class="text-xl my-3">Triez les dépots</h2>
                    <div class="">
                        <select class="border py-1 px-3" name="mois" id="mois">
                            <option value="">janvier</option>
                            <option value="">fevrier</option>
                            <option value="">mars</option>
                            <option value="">avril</option>
                            <option value="">mai</option>
                            <option value="">juin</option>
                            <option value="">juillet</option>
                            <option value="">aout</option>
                            <option value="">septembre</option>
                            <option value="">octobre</option>
                            <option value="">novembre</option>
                            <option value="">decembre</option>
                        </select>
                        <select class="border py-1 px-3" name="annee" id="annee">
                            <option value="">2021</option>
                            <option value="">2022</option>
                            <option value="">2023</option>
                        </select>
                        <button type="submit" class="bg-purple-500 py-1 px-3 text-white"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="mt-8">
                <h1 class="text-3xl my-3">Toutes les dépenses</h1>
                <table class="w-full text-center">
                    <thead class="bg-black text-white">
                    <tr>
                        <th>Somme</th>
                        <th>motif</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for depense in depenses %}
                        <tr class="{% if loop.index is even %}bg-gray-300{% endif %}">
                            <td>{{ depense.somme}}</td>
                            <td>{{ depense.motif}}</td>
                            <td>{{ depense.created | date(' d M Y')}}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div class="text-center mt-5">
                    <div class="flex justify-center text-purple-500">
                        <div class="border p-1">suivant</div>
                        <div class="w-10 h-10 border">1</div>
                        <div class="w-10 h-10 border">2</div>
                        <div class="w-10 h-10 border">3</div>
                        <div class="w-10 h-10 border">4</div>
                        <div class="w-10 h-10 border">....</div>
                        <div class="w-10 h-10 border">10</div>
                        <div class="p-1 border">précedant</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}