<form method="post" action="{{ path('depot_delete', {'id': depot.id}) }}" onsubmit="return confirm(`Voulez-vous supprimer ce depot`);">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ depot.id) }}">
    <button class="p-1 bg-red-600 text-white"><i class="fas fa-trash "></i></button>
</form>
