<form method="post" action="{{ path('depense_delete', {'id': depense.id}) }}" onsubmit="return confirm('Voulez-vous annuler la dépense');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ depense.id) }}">
    <button class="p-1 bg-red-600 text-white mr-5"><i class="fas fa-trash "></i></button>
</form>
