<form method="post" action="{{ path('adherent_delete', {'id': adherent.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cet adherent');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adherent.id) }}">
    <button class="p-1 bg-red-600 text-white"><i class="fas fa-trash "></i></button>
</form>
